spring:

  cache:
    redis:
      time-to-live: 1800000

#redis配置
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_1?serverTimezone=UTC
    username: root
    password: qwer1234

mybatis-plus:
  configuration:
    #库名中去掉下划线，安照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID

tupian:
  path: D:\DAIMA\java\springboot-mybatis-plus\tupian\